<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optical Spending Recognition</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="./static/css/w3.css">
</head>

<body>
    <ul class="topnav">
        <li><a href="./home">Home</a></li>
        <li><a href="./budget">Budget</a></li>
        <li><a href="./receipt">Receipt</a></li>
        <li><a href="./items">Items</a></li>
        <li><a class="active" href="./delete">Delete</a></li>
        <li><a href="./update">Update</a></li>
        <li><a href="./stats">Stats</a></li>
    </ul>

    <form id="item-form" method="post">
        <label for="purchaseid">Item ID:</label><br>
        <input type="text" id="purchaseid" name="purchaseid" class="item-form-field" value="{{ request.form.purchaseid }}"><br>
        <input type="submit" value="Delete Item">
    </form>

</body>
</html>
