<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <form id="login-form" method="post">
      <label for="uname"><b>Username</b></label>
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" value="{{ request.form.username }}">
      <label for="uname"><b>Password</b></label>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" value="{{
        request.form.password }}">
      <input type="submit" value="Login" id="login-form-submit">
    </form>

    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
  
  </main>
</body>

</html>